#title{
  font-weight: bold;
}
#text1 {
  font-size: 20%;
  font-weight: bold;
}
#text2 {
  font-size: 20%;
}
#images{
  margin: 1%;
  height: 30%;
  width: 30%;
}
/* .col{
  border: 1px solid black;
} */

#ex1Slider .slider-selection {
	background: #BABABA;
}

.show{
  display: block;
}

/*#show-Rating-List{
  display: none;
}*/
#full-Park-Amenities-list{
  display: none;
}
#full-Park-Amenities-list.show{
  display: block;
}

#full-Fine-Dining-list{
  display: none;
}
#full-Fine-Dining-list.show{
  display: block;
}
#full-user-rating{
  display: none;
}
#full-user-rating.show{
  display: block;
}



.jumbotron {
  background-image: url('../images/jumbotronbackground-01.png');
  background-size: 100% 100%;
}

.card-img-top {
  align-self: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 300px;
  align-content: center;
}

.card-body {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
}

#parks-table {
  padding-left: 100px;
}
